[Unit]
Description=Minecraft Cloud Management Service

[Service]
WorkingDirectory=/var/www/mccms
ExecStart=/usr/bin/dotnet /var/www/mccms/CMS.Application.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-example
User=mccms
Environment=ASPNETCORE_ENVIRONMENT=Production

StandardOutput=append:/var/www/mccms/log
StandardError=append:/var/www/mccms/log
[Install]
WantedBy=multi-user.target
