* {
    margin: 0;
    padding: 0;
    font-family: "customminecraft", Arial, Helvetica, sans-serif;
    font-size: 16px;
}
@font-face {
    font-family: 'customminecraft';
    src: local("customminecraft"), url('./assets/fonts/Minecraftchmc-dBlX.ttf') format('truetype');
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
